asgiref==3.11.1
brotli==1.2.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
Django==6.0.3
django-cors-headers==4.5.0
django-environ==0.13.0
django-stubs==6.0.1
django-stubs-ext==6.0.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djangorestframework-stubs==3.16.8
docxtpl==0.20.2
fonttools==4.62.1
idna==3.11
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe==3.0.3
pillow==10.4.0
psycopg2-binary==2.9.10
pycparser==3.0
pydyf==0.12.1
PyJWT==2.12.1
pyphen==0.17.2
python-docx==1.2.0
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
