/* Переменные для Wallman */
:root {
  /* СВЕТЛАЯ ТЕМА */
  --bg-main: #f5f6fa;          /* Светло-серый фон */
  --bg-card: #ffffff;
  --text-main: #1f2937;
  --border-color: #e5e7eb;

  --sidebar-bg: #1c1917;       /* Контрастная темная панель */
  --sidebar-active: #65a30d;   /* САЛАТОВЫЙ выбор */
}

body.dark-theme {
  /* ТЕМНАЯ ТЕМА */
  --bg-main: #1a1a1a;          /* Твой серый фон */
  --bg-card: #242424;          /* Карточки чуть светлее */
  --text-main: #e5e5e5;
  --border-color: #333333;

  --sidebar-bg: #000000;       /* ЧЕРНАЯ панель (не сливается) */
  --sidebar-active: #e63946;   /* АЛЫЙ выбор */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.3s ease;
}